.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh;  */
    /* overflow: hidden; */
  }
  .home-not-logged-in-div {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid red; */
  }

  .not-logged-in {
    font-size: large;
    font-weight: 500;
    /* color: #DBCDF0; */
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    
  }

  .clubs-and-search {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
  }

  .search-book {
    /* border: 1px solid red; */
    justify-content: center;
    /* border: solid 1px #ddd; */
    /* border: solid 2px #FFC5D3; */
    background-color: rgba(255, 197, 211, 0.3);
    border-radius: 8px;
    transition: box-shadow 0.3s ease; 
    height: 250px;
    width: 400px;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .search-and-create {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    gap: 20px;
    height: 100%;   
  }

  /* .search-bar {
    
  } */
  
  .search-input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 10px;
    margin-left: 10px;
  }
  
  .button-to-create-book {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .button-to-create-book a {
    display: flex;
    align-items: center;
  }

  .add-book-link {
    margin: auto;
    border: 2px solid #FFC5D3;
    background-color: #FFC5D3;
    border-radius: 3px;
    padding: 5px;
  }

  .add-book-link:hover {
    background-color: #f2a3b6;
  }

  .bookclubs-div {
    width: 50%;
    height: 50%;  /* Set to take up half the height of the screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid 1px red; */
    /* overflow-x: hidden;   */
    /* padding: 20px; */
    box-sizing: border-box;
    margin-right: 70px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }

  .home-club-tile-and-list {
    display: flex;
    flex-direction: column;
    /* border: solid 2px #DBCDF0; */
    background-color: rgba(219, 205, 240, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 360px;
  }
  
  .home-club-tile-and-list h2 {
    margin-top: 20px;
  }
  
  .bookclub-list {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: center;
    flex-wrap: nowrap; /* Prevent wrapping, force horizontal scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    margin-bottom: 10px;
    /* padding-left: 60px; */
    /* border: solid red 1px; */
    /* border: solid 2px #DBCDF0; */
    /* border-radius: 8px; */
    height: 320px;
    width: 100%;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */

  }
  
  .home-bookclub-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 270px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 0px;
    text-align: center;
    /* border: solid 1px #ddd; */
    border-radius: 8px;
    transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
    flex-shrink: 0;
  }

  
  .home-bookclub-tile:hover{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  }
  

  .bookclub-cover {
    width: 100%;
    margin-top: 10px;
    height: 200px; 
    object-fit: cover; 
  }

  .bookclub-cover image {
    height: 250px; 
  }

  .home-bookclub-tile h3 {
    font-size: 16px;
    margin-top: 0;
    padding: 0 5px; /* Add a bit of padding for readability */
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .home-bookclub-tile a {
    text-decoration: none;
  }

  
  /* Make the book club container layout responsive */
  .no-cover-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #aaa;
  }





  
  .update-status-div {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    /* border: solid 1px red; */
    /* border: solid 2px #C9E4DE; */
    background-color: rgba(201, 228, 222, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .update-status-div h2 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .currently-reading-list {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: flex-start;
    flex-wrap: nowrap; /* Prevent wrapping, force horizontal scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding-bottom: 10px;
    height: 100%; /* Set to 100% to take up the available height */
    /* overflow-y: hidden;  */
    padding-left: 10px;
  }
  
  .currently-reading-tile {
    /* border: solid 1px red; */
    min-width: 120px;
    max-width: 120px;
    height: 210px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  
  

  
  .book-cover {
    /* border: solid 1px red; */
    width: 100%;
    height: 100%; /* Set the height to 190px */
    object-fit: contain; /* Ensures the cover maintains aspect ratio and fits within the div */
    margin-bottom: 5px; /* 5px gap between the cover and the other elements */
  
  }
  
  .currently-reading-book-cover {
    width: 120px;
    height: auto; /* Ensure the image takes up the full height of the container */
    object-fit: contain; /* This ensures the image keeps its aspect ratio */

  }


  .currently-reading-tile h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .currently-reading-tile p {
    font-size: 14px;
    color: #666;
  }
  
  .mark-as-read {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0px;
  }
  
  .mark-as-read:hover {
    background-color: #1f6722;
  }
  


