.bookclub-details-page {
    margin-top:30px;
}

.book-details-cover {
    height: 300px;
}

.book-details-cover img {
    width: auto;
    height: 100%; 
    object-fit: cover;
}

.club-and-book {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}

.club-and-book-info {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.chapter-links:hover {
    color: grey;
}