.start-club-div {
  display: flex;
  justify-content: center;
}

.start-club-button {
  border: 2px solid #C9E4DE;
  background-color: #C9E4DE;
  border-radius: 3px;
  padding: 5px;
}

.start-club-button:hover {
  background-color: #98d2c5;
}

/* .your-bookclub-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px;
  width: 250px;
} */

.your-bookclub-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px;
  width: 250px;
}

.your-bookclub-tile a {
  text-decoration: none;
  color: black;
}

.bookcover-image {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin-bottom: 10px;
}

.bookclub-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.your-bookclub-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
  gap: 20px;
  justify-content: center;
}

h3 {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}

p {
  text-align: center;
  font-size: 14px;
  color: #555;
}
  