.button {
    background: none;   
  border: none;         
  padding: 0; 
}

/* .button:hover {
 
} */

.profile-dropdown{
    list-style: none;
}

.profile-dropdown li {
    text-decoration: none;
    color: black;
    font-size: medium;
}

.profile-dropdown li:hover {
    color: grey;
}

.profile-dropdown button {
    /* background: none;   
    border: none;          */
    /* padding: 0;  */
    background-color: #315E67;
    color: white;
    border-radius: 2px;
}

.log-out li {
    color: black;
    font-size: medium;
}